.content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.message {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.message-message {
  font-family: 'Inconsolata' ;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.message-permalink a {
  color: #808080;
  text-decoration: none;
}
.message-permalink a:hover {
  text-decoration: underline;
}
