<html>
<head>
  <title>Not Found</title>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <style>
    .content {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .commit {
      width: 100%;
      text-align: center;
    }
    .commit-message {
      font-family: 'Inconsolata' ;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    .commit-permalink a {
      color: #808080;
      text-decoration: none;
    }
    .commit-permalink a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="content">
    <div class="commit">
      <div id="commit-message" class="commit-message">Am nowhere to be found...</div>
    </div>
  </div>
</body>
</html>
