<html>
<head>
  <title>Commit Message Generator</title>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="content">
    <div class="commit">
      {% autoescape %}
      <div id="commit-message" class="commit-message">{{ commit.message | raw}}</div>
      {% endautoescape %}

      <div class="commit-permalink">
        <a href="{{ commit.hash }}"/>Permalink</a>
      </div>
    </div>
  </div>
</body>
</html>
