<html>
<head>
  <title>Commit Message Generator</title>
  <style>
    .content {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .commit {
      padding: 20px;
      width: 100%;
      text-align: center;
    }
    .commit-message {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    .commit-permalink a {
      color: #808080;
      text-decoration: none;
    }
    .commit-permalink a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="content">
    <div class="commit">
      {% autoescape %}
      <div id="commit-message" class="commit-message">{{ commit.message | raw}}</div>
      {% endautoescape %}

      <div class="commit-permalink">
        <a href="{{ commit.hash }}"/>Permalink</a>
      </div>
    </div>
  </div>
</body>
</html>
