<html>
<head>
  <title>Commit Message Generator</title>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="content">
    <div class="message">
      {% autoescape %}
      <div id="message-message" class="message-message">{{ message.message | raw}}</div>
      {% endautoescape %}

      <div class="message-permalink">
        <a href="{{ message.hash }}"/>Permalink</a>
      </div>
    </div>
  </div>
</body>
</html>
